.Avatar {
    width: 100%;
    height: var(--avatar-height);
    padding: 0;
    position: relative;
    text-align: center;
    background: var(--color-fiord);
}

.Avatar img{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.Avatar a {
    top: 0;
    display: block;
    position: absolute;
    text-decoration: none;
    width: 100%;
    height: var(--avatar-height-landscape);
    background: var(--color-translucid-layer);
}
.Avatar h1 {
    font-weight: 300;
    margin: 15px 0 5px;
    color: var(--color-polar);
}

.Avatar p {
    margin: 0 0 10px;
    font-weight: 300;
    text-decoration: none;
    color: var(--color-brandy);
}


/* iPhone 6, 7, & 8 in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    .Avatar {
        padding: 15px 0;
        height: var(--avatar-height-landscape);
    }
    .Avatar img {
        display: none;
    }
}

/* iPhone X in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    .Avatar {
        padding: 15px 0;
        height: var(--avatar-height-landscape);
    }
    .Avatar img {
        display: none;
    }
}