.Navigation {
    color: var(--color-polar);
    height: calc(100% - var(--avatar-height));
    overflow: scroll;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;
}

.Navigation ul{
    list-style: none;
    padding: 0 7px;
    margin: 0;
}

.Navigation ul li,
.Navigation ul li a{
    padding: 5px 0 7px 5px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    color: var(--color-brandy);
}

.Navigation ul li h3 {
    cursor: default;
    padding: 5px 5px 10px 0;
    margin-bottom: 15px;
    font-weight: 300;
    text-align: left;
    color: var(--color-polar);
    background-repeat: repeat;
    border-bottom: 1px dotted var(--color-polar);
}


/* iPhone 6, 7, & 8 in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    .Navigation {
        height: calc(100% - var(--avatar-height-landscape));
    }
}

/* iPhone X in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    .Navigation {
        height: calc(100% - var(--avatar-height-landscape));
    }
}