.Home {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.HomeContent {
    width: 100%;
    min-height: 100%;
    text-align: center;
    color: var(--color-brandy);
    background: var(--color-translucid-layer);

    padding: 90px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HomeContent h1{
    font-weight: 500;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--color-polar);
}

.Description {
    font-size: 18px;
    line-height: 26px;
    max-width: 700px;
}

.HomeContent a{
    text-decoration: none;
    color: var(--color-polar);
}

.Links {
    margin: 40px 0 0 0;
    overflow: hidden;
    padding: 0;
    width: auto;
    list-style: none;
    text-align: center;
}

.Links li {
    min-width: 60px;
    text-align: center;
    margin: 2px 15px;
    display: inline-block;
    color: var(--color-brandy);
}

.Links li i {
    font-size: 22px;
    display: block;
}

.Links li span {
    margin: 7px;
    display: block;
}


/* iPhone 6, 7, & 8 in portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    .showSidebar {
        display: none;
    }
}

/* iPhone X in portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
    .showSidebar {
        display: none;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .HomeContent {
        padding: 0 15%;
    }
}