/*
 * Global variables
 */
:root {
    --sidebar-width: 270px;
    --avatar-height: 270px;
    --sidebar-width-negative: -270px;
    --avatar-height-landscape: 83px;
}

/*
 * Global themes
 */
.theme_BigStone {
    --color-big-stone: #17263C;
    --color-brandy: #E2CB9E;
    --color-polar: #E5F7FA;
    --color-rangitoto: #282721;
    --color-fiord: #425A6A;
    --color-translucid-layer: rgba(0, 0, 0, 0.4);
}

.theme_ClamShell {
    --color-big-stone: #2B2D57;
    --color-brandy: #CFA8AC;
    --color-polar: #FFFFFF;
    --color-rangitoto: #2B282B;
    --color-fiord: #9ADCEB;
    --color-translucid-layer: rgba(0, 0, 0, 0.4);
}

/*
 * Layout definitions
 */
html, body {
    margin: 0;
    border: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    min-height: 100%;

    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.LayoutContainer {
    top: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    position: absolute;
    background: var(--color-big-stone);
}

.Main {
    top: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    position: absolute;

    z-index: 1;
    padding-left: 0;
    transition: padding 0.5s ease-in-out;
}

.connectionMessage {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 83px;
    padding: 15px 0;
    text-align: center;
    color: var(--color-brandy);
    background: var(--color-translucid-layer);

    z-index: 2;
    transition: padding 0.5s ease-in-out;
}

.connectionMessage p {
    padding: 0 46px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.showSidebar {
    padding-left: var(--sidebar-width);
}

/* iPhone 6, 7, & 8 in portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    .connectionMessage.showSidebar {
        display: none;
    }
}

/* iPhone X in portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
    .connectionMessage.showSidebar {
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}